*.pyc
lot/settings_local.py
*.log
*.orig
mediaroot/*
wsgi.py
data/*
env/*
*_import/*.mdb
*_import/*.tsv
lot/fixtures/downloads/*
idb_import/treelive_summary/*/*.tsv
idb_import/treelive_summary/*/*.csv
idb_import/treelive_summary/*/*.sqlite
idb_import/treelive_summary/*/*.pickle
idb_import/treelive_summary/*/*.tab
openlayers
trees_test/work*
lot/.coverage
.vagrant
.DS_Store
.*.swp
fvsbin/*
Vagrantfile
*.pem
fab_vars.py
celeryflower-passwords
__*
projects/*/plots
projects/*/final
projects/*/work
projects/*/cond
scripts/blm/climate_suitability/geotifs
scripts/blm/climate_suitability/change_class/*
scripts/blm/climate_suitability/categorize/*
scripts/blm/climate_suitability/clipped_deltas/*
scripts/blm/climate_suitability/query_results/*
scripts/blm/climate_suitability/rasters/*
scripts/blm/climate_suitability/shapefiles/*
scripts/blm/climate_suitability/*.img
scripts/blm/climate_suitability/*.tif
scripts/blm/climate_suitability/*.tif.aux.xml
scripts/blm/climate_suitability/test

